{% extends'base_after.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xiunoui.css') }}">
    <script src="../static/js/jquery-3.0.0.min.js"></script>
{% endblock %}
{% block body %}
    {{ super() }}

    <div class="container">
    <form action="#" method="post" id="my_profile_form">
    <div class="content">
        <div class="content-header">
            <div class="tw-header-inner">
                <h2>个人资料</h2>
            </div>
        </div>
        <div class="content-body">
            <div class="reply-form">
                <div class="reply-inner">
                    <div class="topic-content clearfix">
                        <div class="topic-user left" style="width: 300px;">
                            <img src="{{ url_for('static', filename='img/01.png') }}" class="avatar" id="avatar_img" alt="aaa@qq.com" title="aaa@qq.com">
                            <strong>{{ user.username }}</strong>
                            <small>{{ user.signature }}</small>
                        </div>
                        <div class="right">
                            <input type="file" id="avatar_upload" accept=".jpg,.jpeg,.png,.gif,.bmp" class="upload Button Button--primary" style="width:70px; opacity:0.7" value="更换头像"/>
                            <div style="width:100%; height:6px; border:1px border #64ACA0; margin:2px 0;" id="avatar_progress">
                                <div style="width: 0px;  height: 6px; background: #64ACA0;">
                                </div>
                            </div>
                            <button id="id-button-submit" class="Button Button--primary" type="button" loading-text="正在提交...">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <dl class="user-profile">
                    <dt>用户名</dt>
                    <dd><input id="id-input-username" class="form-control" type="text" name="username" value="{{ user.username }}"></dd>
                    <dt>邮箱</dt>
                    <dd><input id="id-input-email" class="form-control" type="email" name="email" value="{{ user.email }}"></dd>
                    <dt>个性签名</dt>
                    <dd><input id="id-input-signature" class="form-control" type="text" name="signature" value="{{ user.signature }}"></dd>
                    <dt>性别</dt>
                    <dd><input id="id-input-sex" class="form-control" type="text" name="sex" value="{{ user.signature }}"></dd>
                    <dt>用户组</dt>
                    <dd>{{ user.role }}</dd>
                    <dt>注册时间</dt>
                    <dd><time>{{ user.created_time }}</time></dd>
                    <dt>注册IP</dt>
                    <dd>{{ user.ip }}</dd>
                    <dt>帖子</dt>
                    <dd>{{ user.tweets | length }}</dd>
                    <dt>来访</dt>
                    <dd>{{ user.visit }}</dd>
                    <dt>关注</dt>
                    <dd>功能未做</dd>
                    <dt>被关注</dt>
                    <dd>功能未做</dd>
                </dl>
            </div>
        </div>
    </div>
    </form>
        <div class="dashboard">
            <div class="mini-profile">
                <div class="profile-summary">
                    <a href="#">
                        <div class="profile-content">
                            <img src="{{ url_for('static', filename='img/01.png') }}">
                            <b>{{ user.username }}</b>
                            <small>本网站第 <em>{{ user.id }}</em> 位超级酷炫至尊VIP</small>
                        </div>
                    </a>
                </div>
                <div class="profile-bottom">
                    <div class="user-intro">
                        {% if user.signature %}
                            {{ user.signature }}
                        {% else %}
                              快点下边设置你的个性签名
                        {% endif %}
                    </div>
                    <div class="profile-bottom">
                        <a href="{{ url_for('edit.edit_view', user_id=user.id) }}" class="notify-count">
                            <i class="fa fa-edit"></i>设置
                        </a>
                        <a href="{{ url_for('auth.logout') }}" class="balance-count">
                            <i class="fa fa-power-off"></i>退出
                        </a>
                    </div>
                </div>
            </div>
{#            友情链接#}
            <div class="text-list">
            <div class="text-inner">
                <div class="text-module-header">
                    <h3>我觉得有趣的网站</h3>
                </div>
                <ul class="text-items text-items2">
                    <li><a href="https://g.chenjx.cn/" target="_blank">Google镜像</a></li>
                    <li><a href="https://knewone.com/" target="_blank">KnewOne购物</a></li>
                    <li><a href="http://nipponcolors.com/" target="_blank">有你想要的所有颜色</a></li>
                    <li><a href="http://weavesilk.com/" target="_blank">人人都是酷炫画家</a></li>
                    <li><a href="http://www.alexandraposen.com/" target="_blank">好看的水彩画</a></li>
                    <li><a href="http://www.csszengarden.com/" target="_blank">CSS禅意花园</a></li>
                </ul>
                </div>
            </div>

            <div class="site-footer">
                <div class="footer-inner">
                    <div class="footer-copyright">
                        © 2016 <a href="http://www.github.com/sunwk" target="_blank">Avalon</a>
                        <span class="point">♥</span> Powered by
                        <a href="http://www.github.com/sunwk" target="_blank">No One</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <script>
        var post = function (url, data) {
            var request = {
                url: url,
                type: 'post',
                data: data,
                contentType: 'application/json',
                success: function (r) {
                    if (r.success) {
                        location.href = r.next
                    }else {
                        alert(r.message)
                    }
                }
            };
            $.ajax(request);
        };

        var submitInfo = function () {
            console.log('点击注册');
            var username = $('#id-input-username').val();
            var email = $('#id-input-email').val();
            var signature = $('#id-input-signature').val();
            var sex = $('#id-input-sex').val();

            var data = {
                username: username,
                email: email,
                signature: signature,
                sex: sex
            };
            console.log('更改用户信息', data);
            var parsed_data = JSON.stringify(data);
            var url = '{{ url_for('api.info_edit') }}';
            post(url, parsed_data)
        };

        var changeInfo = function () {
            var button = $('#id-button-submit');
            button.on('click', submitInfo)
        };

        var timeTsf = function () {
            var unixTime = $('time');
            for (var i = 0; i < unixTime.length; i++) {
                var t = $(unixTime[i]).text();
                var date = new Date(Number(t)*1000);
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + ' ';
                var h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ':';
                var m = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ':';
                var s = date.getSeconds();
                $(unixTime[i]).text(Y + M + D + h + m + s);
            }
        };

        var __main = function () {
            changeInfo();
            timeTsf()
        };

        $('document').ready(function () {
            __main()
        })
    </script>

{% endblock %}
