{% extends'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Twitter</h1>
                        <h3>My little project</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <!-- sample modal content -->
                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <input id="id-register-username" type="text" class="form-control"
                                                       placeholder="用户名大于三位">
                                                <br>
                                                <input id="id-register-password" type="password" class="form-control"
                                                       placeholder="密码大于三位">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    关闭
                                                </button>
                                                <button id="id-button-register" type="button" class="btn btn-primary">
                                                    提交
                                                </button>
                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                <div id="id-div-dataset" data-id='{{ user_id }}' class="bs-example">
                                    {# style="padding-bottom: 24px;"> #}
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal"
                                            data-target="#myModal">
                                        注册
                                    </button>
                                </div>
                            </li>


                            <li>
                                <!-- sample modal content -->
                                <div id="fuckmyModal" class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <input id="id-login-username" type="text" class="form-control"
                                                       placeholder="请输入用户名">
                                                <br>
                                                <input id="id-login-password" type="password" class="form-control"
                                                       placeholder="请输入密码">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    关闭
                                                </button>
                                                <button id="id-button-login" type="button" class="btn btn-primary">
                                                    提交
                                                </button>
                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                <div id="id-div-dataset" data-id='{{ user_id }}' class="bs-example">
                                    {# style="padding-bottom: 24px;"> #}
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal"
                                            data-target="#fuckmyModal">
                                        登录
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <a href="{{ url_for('auth.logout') }}" type="button" class="btn btn-default btn-lg">游客浏览</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <script>
        var post = function (url, data) {
            var request = {
                url: url,
                type: 'post',
                data: data,
                contentType: 'application/json',
                success: function (r) {
                    if (r.success) {
                        location.href = r.next
                    }else {
                        alert(r.message)
                    }
                }
            };
            $.ajax(request);
        };

        var log_info = function () {
            console.log('点击登录');
            var username = $('#id-login-username').val();
            var password = $('#id-login-password').val();
            var data = {
                username: username,
                password: password
            };
            var parsed_data = JSON.stringify(data);
            var url = '{{ url_for('api.login') }}';
            post(url, parsed_data)
        };

        var reg_info = function () {
            console.log('点击注册');
            var username = $('#id-register-username').val();
            var password = $('#id-register-password').val();
            var data = {
                username: username,
                password: password
            };
            console.log('注册账户密码', data);
            var parsed_data = JSON.stringify(data);
            var url = '{{ url_for('api.register') }}';
            post(url, parsed_data)
        };

        var logIn = function () {
            var button = $('#id-button-login');
            button.on('click', log_info)
        };

        var register = function () {
            var button = $('#id-button-register');
            button.on('click', reg_info)
        };

        var __main = function () {
            logIn();
            register()
        };

        $('document').ready(function () {
            __main()
        })
    </script>


{% endblock %}
