{% extends'base_after.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xiunoui.css') }}" >
    <script src="../static/js/jquery-3.0.0.min.js"></script>
{% endblock %}
{% block body %}
    {{ super() }}

    <div class="container">
        <div class="content">
            <div class="content-header">
                <div class="tw-header-inner">
                    <div class="topic-content">
                        <div class="topic-user left">
                            <a href="{{ url_for('timeline.self_timeline_view', user_id=tweet.user.id) }}">
                                <img src="{{ url_for('static', filename='img/01.png') }}" class="avatar">
                                <strong>{{ tweet.user.username }}</strong>
                                <small>{{ tweet.created_time }}</small>
                            </a>
                        </div>
                        <div class="topic-message thread_post" id="thread_post" pid="316">
{#                            <h1 class="nospace subject breakall bold" pid="316">xiuno技巧收集整理帖</h1>#}
                            <p>{{ tweet.content }}</p>
                        </div>
                        <div class="topic-actions">
{#                            <a href="#" title="1 回复">#}
                                <span class="web-icon icon-comment">
                                    <i class="fa fa-comment" title="回复"></i>
                                </span>
                                <span class="replies"> 共 {{ comments | length }} 条评论</span>
{#                            </a>#}
{#                                <span class="like" title="0 喜欢">#}
{#                                    <i class="fa fa-heart" title="喜欢"></i>#}
{#                                    <span class="likes">0</span>#}
                        </div>
{#                        <div class="topic-info">#}
{#                            <a href="user-1.htm" target="_blank" nofollow="">#}
{#                                <img class=" lazyloaded" data-src="upload/avatar/000/1.png?1466152566" title="flarum"#}
{#                                     width="32" height="32" src="upload/avatar/000/1.png?1466152566">#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>

            <div id="id-div-form" class="reply-form fixed">
{#                <div class="reply-form fixed fixed-bottom">#}
                <div class="reply-inner clearfix">
                    <form id="quick_post_form">
                        <textarea id="id-input-content" class="input-body" name="message"></textarea>
{#                        <div class="post-button-left">#}
{#                            <a href="post-create-55.htm" target="_blank">编辑器</a>#}
{#                        </div>#}
                        <div class="post-button-right">
{#                            <a class="Button mr15 b-bjq" href="post-create-55.htm">编辑器</a>#}
                            <button id="id-button-submit" class="Button Button--primary" type="button">
                                <span class="submit-button-text">回复</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <ol class="reply-items" id="postlist">
            {% for comment in comments %}
                <li class="reply-item">
                    <div class="reply-content" href="thread-142.htm">
                        <a href="{{ url_for('timeline.self_timeline_view', user_id=comment.user_id) }}" class="item-user">
                            <img class="item-avatar" src="{{ url_for('static', filename='img/01.png') }}" alt="游客"
                                 width="48px"
                                 height="48px">
                            <strong class="item-nickname">{{ comment.user.username }} </strong>
                        </a>
                        <small class="time" title="发帖时间">
                            发表于 <time>{{ comment.created_time }}</time>
                        </small>
                        <p class="item-message">
                            {{ comment.content }}
                        </p>
                        <div class="post-actions">
                            <a title="1 回复">
                                <span class="web-icon icon-comment">
                                    <i class="fa fa-heart" title="回复"></i>
                                </span>
                                <span class="replies">此处为点赞数目，功能待补充</span>
                            </a>
{#                                <span class="like" title="0 喜欢">#}
{#                                    <i class="fa fa-heart" title="喜欢"></i>#}
{#                                    <span class="likes">0</span>#}
{#                                </span>#}
                        </div>
                    </div>
                </li>
            {% endfor %}

            </ol>

            <div class="stream-footer">
                <div class="stream-end-inner">
                    <button id="id-button-scroll" class="Button win-back">已加载全部回复，点击返回</button>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <div class="mini-profile">
                <div class="profile-summary">
                    <a href="#">
                        <div class="profile-content">
                            <img src="{{ url_for('static', filename='img/01.png') }}">
                            <b>{{ user.username }}</b>
                            <small>本网站第 <em>{{ user.id }}</em> 位超级酷炫至尊VIP</small>
                        </div>
                    </a>
                </div>
                <div class="profile-bottom">
                    <div class="user-intro">
                        {% if user.signature %}
                            {{ user.signature }}
                        {% else %}
                              快点下边设置你的个性签名
                        {% endif %}
                    </div>
                    <div class="profile-bottom">
                        <a href="{{ url_for('edit.edit_view', user_id=user.id) }}" class="notify-count">
                            <i class="fa fa-edit"></i>设置
                        </a>
                        <a href="{{ url_for('auth.logout') }}" class="balance-count">
                            <i class="fa fa-power-off"></i>退出
                        </a>
                    </div>
                </div>
            </div>
            {#            友情链接#}
            <div class="text-list">
                <div class="text-inner">
                    <div class="text-module-header">
                        <h3>我觉得有趣的网站</h3>
                    </div>
                    <ul class="text-items text-items2">
                        <li><a href="https://g.chenjx.cn/" target="_blank">Google镜像</a></li>
                        <li><a href="https://knewone.com/" target="_blank">KnewOne购物</a></li>
                        <li><a href="http://nipponcolors.com/" target="_blank">有你想要的所有颜色</a></li>
                        <li><a href="http://weavesilk.com/" target="_blank">人人都是酷炫画家</a></li>
                        <li><a href="http://www.alexandraposen.com/" target="_blank">好看的水彩画</a></li>
                        <li><a href="http://www.csszengarden.com/" target="_blank">CSS禅意花园</a></li>
                    </ul>
                </div>
            </div>

            <div class="site-footer">
                <div class="footer-inner">
                    <div class="footer-copyright">
                        © 2016 <a href="http://www.github.com/sunwk" target="_blank">Avalon</a>
                        <span class="point">♥</span> Powered by
                        <a href="http://www.github.com/sunwk" target="_blank">No One</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div id="id-div-tweet_id" data-tweet_id="{{ tweet.id }}">
    <div id="id-div-user_url" data-user_url="{{ url_for('timeline.self_timeline_view', user_id=user.id) }}">
    <div id="id-div-img_url" data-img_url="{{ url_for('static', filename='img/01.png') }}">

    <script>
        var htmlEncode = function(str) {
            var div = document.createElement("div");
            div.appendChild(document.createTextNode(str));
            return div.innerHTML;
        };

        var htmlDecode = function(str) {
            var div = document.createElement("div");
            div.innerHTML = str;
            return div.innerText;
        };

        var fuckHtml = function (str) {
            str = str.replace(/<\/?[^>]*>/g,''); //去除HTML tag
            str.value = str.replace(/[ | ]*\n/g,'\n'); //去除行尾空白
            //str = str.replace(/\n[\s| | ]*\r/g,'\n'); //去除多余空行
            return str;
        };

        var addComment = function () {
            console.log('ready');
            var button = $('#id-button-submit');
            var content_input = $('#id-input-content');
            button.on('click', function () {
                // 去掉html标签，ajax动态插入会直接插成html破坏格式。需动态插入带标签的文字较复杂，先不考虑
                var fuckContent = fuckHtml(content_input.val());
                var tweet_id = $('#id-div-tweet_id').data('tweet_id');
                // 将换行替换成<br>标签
                preparsedContent = fuckContent.replace(/\n/g, '<br>');//   /.../g 全局替换
                var encoded_content = htmlEncode(preparsedContent);
                console.log('encoded_content',encoded_content);
                var data = {
                    content: encoded_content,
                    tweet_id: tweet_id
                };
                var json_data = JSON.stringify(data);
                console.log('debug json_data :', json_data);
                var request = {
                    url: "{{ url_for('api.comment_add') }}",
                    contentType: 'application/json',
                    type: 'post',
                    data: json_data,
                    success: function (r) {
                        console.log('服务器返回了:', r);
                        if (r.success){
                            //r.content = preparsedContentend; 之前的思路：发后端的和插入的可以不一样
                            insertComment(r)
                        }else {
                            alert('请先注册登录再评论')
                        }
                    }
                };
                $.ajax(request);
            })
        };


        var insertComment = function (comment) {
                var t = commentTemplate(comment);
                $('#postlist').prepend(t);
            };

        var dateTime = function (time) {
            var t = time;
            var date = new Date(Number(t)*1000);
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + ' ';
            var h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ':';
            var m = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ':';
            var s = date.getSeconds();
            return Y + M + D + h + m + s;
        };


        var commentTemplate = function (comment) {
            var user_url = $('#id-div-user_url').data('user_url');
            var img_url = $('#id-div-img_url').data('img_url');
            var content = htmlDecode(comment.content);
            var created_time = comment.created_time;
            var time = dateTime(created_time);
            var username = comment.current_username;
            var parsed_time = comment.created_time;
            var user_id = comment.user_id;
            var t = `
            <li class="reply-item">
                <div class="reply-content" href="thread-142.htm">
                    <a href="${user_url}" class="item-user">
                        <img class="item-avatar" src="${img_url}" alt="游客"
                             width="48px"
                             height="48px">
                        <strong class="item-nickname">${username} </strong>
                    </a>
                    <small class="time" title="发帖时间">
                        发表于 <time>${time}</time>
                    </small>
                    <p class="item-message">
                        ${content}
                    </p>
                    <div class="post-actions">
                        <a title="1 回复">
                            <span class="web-icon icon-comment">
                                <i class="fa fa-heart" title="回复"></i>
                            </span>
                            <span class="replies">此处为点赞数目，功能待补充</span>
                        </a>
                    </div>
                </div>
            </li>
            `;
            return t;
        };

        var commentDecode = function () {
            var comments = $('.item-message');
            for (var i=0; i<comments.length; i++){
                var comment = htmlDecode(comments[i].innerText);
                console.log(comment);
                //document.getElementsByClassName('item-message')[i].innerText=comment;
                $(comments[i]).html(comment)
            }
        };

        var scrollTop = function () {
            var button = $('#id-button-scroll');
            button.on('click', function () {
                $(window).scrollTop(0);
            })
        };

        var timeTsf = function () {
            var unixTime = $('time');
            for (var i = 0; i < unixTime.length; i++) {
                var t = $(unixTime[i]).text();
                var date = new Date(Number(t)*1000);
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + ' ';
                var h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ':';
                var m = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ':';
                var s = date.getSeconds();
                $(unixTime[i]).text(Y + M + D + h + m + s);
            }
        };

        var __main = function () {
            scrollTop();
            timeTsf();
            addComment();
            commentDecode()
        };

        $(document).ready(function () {
            __main()
        });

    </script>
{% endblock %}
